:root{
    --azul:#2c436b;
    --amarillo:#ffd700;
    --oro:#daa520;
    --blanco:#ffffff;
    --negro:#000000;
    --gris: #D8E3E7;
    --azul2: #023864;
    --grisclaro: #b0c4de	;
    --naranja: #ffa500	;
    --fuentePrincipal:'Montserrat', sans-serif;

}


html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
 }
/** Globales **/
body{
background-color: var(--azul);
font-size: 1.6rem;
line-height: 1.5;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;

}

img{
max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;

}

h1, h2, h3{
    text-align: center;
    color: var(--oro);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}

/*header*/
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
    width: 200px; height: 200px;
}

/*footer*/
.footer{
background-color: var(--azul);
padding: 1rem 0;
margin-top: 1rem;
}

.footer__texto{
font-family: var(--fuentePrincipal);
text-align: center;
}
/*navegacion*/
.navegacion{
font-family: Arial, Helvetica, sans-serif;   
font-size: 2rem; 
background-color: var(--oro);
padding: 2rem;
display: flex;
justify-content: center;
gap: 3rem;
}

.navegacion__enlace{
font-family: var(--fuentePrincipal);
color: var(--blanco);
}


.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--negro);
}
/*bloque*/
.bloque{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

@media (min-width: 768px){
    .bloque{
        grid-template-columns: repeat(4, 1fr);
    }
}
/*vehiculos*/
.vehiculos{
background-color: var(--oro);
padding: .2rem;
}
.vehiculos__imagen{
    width: 100%;

}


.vehiculos__nombre{    
font-size: 1.5rem;
color: var(--blanco);
}




.vehiculos__nombre, .vehiculos__descripcion{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}
.subtitulo{
  text-align: left;
}
/*nosotros*/

.nosotros{
    display: grid;
    grid-template-rows: repeat(auto);
}
@media (min-width: 768px){
    .nosotros{

        grid-template-columns: repeat(auto);

        
    }
}


@media (min-width: 768px){
    .nosotros__video{
        width: 100%;
        object-fit: cover;
      }
            
}   
/*bloqueequipo*/
.bloqueequipo{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

@media (min-width: 768px){
  .bloqueequipo{
      grid-template-columns: repeat(4, 2fr);
  }
} 
/*equipo*/
.equipo{
  background-color: var(--azul);
    padding: .1rem;

}
.equipo__imagen{
  width: 200px;
  height: 300px;
  object-fit: cover;

}

    .equipo__nombre{    
    font-size: 2rem;
    color: var(--blanco);
    }
    
    
    
    .equipo__nombre,  .equipo__informacion, .equipo__numero{
        font-family: var(--fuentePrincipal);
        margin: .4rem 0;
        text-align: left;
        line-height: 1;
    }
 /*mapabloque*/
 @media (min-width: 768px){
  .mapa{
      grid-template-columns: repeat(auto);
  }
}    
 /*mapa*/
 .mapa{
overflow:hidden;
padding-bottom:56.25%;
position: relative;
height:0;

}

.mapa iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
object-fit: cover;

}

/*contacto*/
.formulario{
    background-color: var(--gris);
    width:100%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;

}
.formulario fieldset{
    border:none;
}
.formulario legend{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--negro);

}

.campo{
margin-bottom: 1rem;
}

.campo label{
color: var(--negro);
font-weight: bold;
margin-bottom: .2rem;
display: block;
}
/*wha*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom: 15px;
    right: 16px;
	background-color:#4cc370;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #fff;
  background-color:#3d9e5a;
}

.my-float{
	margin-top:16px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");
/* offset-x > | offset-y ^| blur-radius | spread-radius | color */
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.45);
    opacity: 0;
  }
}
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  width: auto;
  height: auto;
  position: fixed;
  z-index: 8;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  margin: 0px;
}
@media (max-width: 360px) {
  .nav-bottom {
    width: 320px;
  }
}

.whatsapp-button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  z-index: 8;
  transition: .3s;
  margin: 10px;
  padding: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
}

.circle-anime {
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  transition: .3s;
  background-color: #77bb4a;
  animation: pulse 1.2s 4.0s ease 4;
}

.popup-whatsapp {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  padding: 10px;
  bottom: 85px;
  right: 6px;
  transition: .5s;
  border-radius: 10px;
  background-color: white;
  /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  animation: slideInRight .6s 0.0s both;
}
.popup-whatsapp > div {
  margin: 5px;
}
@media (max-width: 680px) {
  .popup-whatsapp p {
    font-size: 0.9em;
  }
}
.popup-whatsapp > .content-whatsapp.-top {
  display: flex;
  flex-direction: column;
}
.popup-whatsapp > .content-whatsapp.-top p {
  color: #585858;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.0em;
}
.popup-whatsapp > .content-whatsapp.-bottom {
  display: flex;
  flex-direction: row;
}

.closePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: 0px 0px 15px 0px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4cc370;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.closePopup:hover {
  background-color: #3d9e5a;
  transition: .3s;
}

.send-msPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0px 0px 0px 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  -moz-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}
.send-msPopup:hover {
  background-color: #f8f8f8;
  transition: .3s;
}

.is-active-whatsapp-popup {
  display: flex;
  animation: slideInRight .6s 0.0s both;
  background-color: #fafafa;
}

input.whats-input[type=text] {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 0px solid #ffffff;
  border-radius: 20px;
  font-size: 1em;
  background-color: #ffffff;
  padding: 0px 0px 0px 10px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  outline: none;
  transition: .3s;
}
@media (max-width: 420px) {
  input.whats-input[type=text] {
    width: 225px;
  }
}
input.whats-input::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(68, 68, 68, 0.705);
  opacity: 1;
}
input.whats-input[type=text]:focus {
  background-color: #f8f8f8;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  transition: .3s;
}

.icon-whatsapp-small {
  width: 24px;
  height: 24px;
}

.icon-whatsapp {
  width: 45px;
  height: 45px;
}

.icon-font-color {
  color: #ffffff;
}

.icon-font-color--black {
  color: #333333;
}
